@media screen and (min-width: 1080px) {
    .nav-buttons{
        height: 200px;
        width: 50%;
    }
    .navIcons{
        height: 130px;
        width: auto;
        text-align: center;
		margin: 10px;
    }

    .nav-container{
        width: 25%;
    }
	.icon-label{
    text-align: center;
    font-size: 15px;
}
}

@media screen and (max-width: 1024px) {
    .nav-buttons{
        height: 200px;
        width: 50%;
    }
    .navIcons{
        height: 160px;
        width: auto;
        text-align: center;
		margin: 5px;
    }
	.icon-label{
    text-align: center;
    font-size: 20px;
}
}

@media screen and (max-width: 768px) {
    .nav-buttons{
        height: 190px;
        width: 48%;
    }
    .navIcons{
        height: 140px;
        width: auto;
        text-align: center;
		margin: 5px;
    }
	.icon-label{
    text-align: center;
    font-size: 15px;
}
}

.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
    display: block!important;
}
.navbar-nav {
    float: none!important;
}
.navbar-nav>li {
    float: none;
}

.nav-row{
    height: 100%;
    width: 100%;
}


.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one 🙂       */
    display: flex;
    align-items: center;
}

/*.navbar-fixed-top {*/
    /*min-height: 80px;*/
/*}*/

.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 50px;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

/*.pull-left{*/
    /*height: 50px;*/
    /*width: 50px;*/
/*}*/

.icon-label{
    text-align: center;
    font-size: xx-large;
}
.nav-buttons{
    background-color: #F5F5F5;
    border-style: solid;
    border-color: white;
    border-width: 5px;
}

.checkbox{
    text-align: left;
    font-size: xx-large;
	padding-top: 50px;
	flex: 1;
	flex-direction: column;
	display: flex;
	margin: 50px;

} 