@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);


.view-container{
    margin-top: 10%;
}

.equipmentcards{
    margin-top: 3%;
    margin-bottom: 3%;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color: white;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-block{
    border-style: solid;

}

.card-blockquote {
    padding: 0;
    margin-bottom: 0;
    border-left: 0;
}

.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.card-success .card-header,
.card-success .card-footer {
    background-color: transparent;
}

.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}

.card-danger .card-header,
.card-danger .card-footer {
    background-color: transparent;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 35px;
}

.add-button{
    margin-bottom: 5%;
}

.equipment-buttons{
    margin-right: 5%;
    float: right;
}

thead{
    background-color: #5cb85c;
}


.vertical-center {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}


.icon-label{
    text-align: center;
    font-size: xx-large;
}


.checkbox{
    text-align: left;
    font-size: xx-large;
	padding-top: 50px;
	flex: 1;
	flex-direction: column;
	display: flex;
	margin: 50px;

}

.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}

.icon-label{
    color: white;
}


body {
    background-image: url("https://i.ytimg.com/vi/lQwol0Y98o8/maxresdefault.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #464646;
}


h1 {
    text-align:center;
    font-family:'consolas',sans-serif;
}
a {
    color:#06f;
    text-decoration:none;
}
/* Start Accordion Menu */
ul.accordion-menu {
    list-style:none;
    padding:0;
    font-family:'consolas',sans-serif;
    font-weight:400;
    font-size:16px;

}

ul.accordion-menu li {

    background:none;

    margin:7px 0;

    padding:0;

}

ul.accordion-menu li header {

    width: auto;

    margin: 0 auto;

    background-color:#DDD;

    border:1px solid #CCC;

    cursor:pointer;

    padding:10px 20px;

    text-align:left;

    transition:all 200ms ease;

    user-select:none;

    font-family:'segoe ui',sans-serif;

    -khtml-user-select:none;

    -moz-user-select:none;

    -ms-user-select:none;

    -webkit-touch-callout:none;

    -webkit-user-select:none;

}

ul.accordion-menu li header:hover {

    background-color:#CECECE;

    border-color:#C0C0C0;

}

ul.accordion-menu li section.content {

    border-bottom:1px solid #CCC;

    border-left:1px solid #CCC;

    border-right:1px solid #CCC;

    /*max-height: auto;*/

    overflow:hidden;

    padding:20px;

    transition:all 200ms linear;

    width: auto;

}

ul.accordion-menu li section.content p {

    margin:0;
    font-family:'constantia',serif;

}

ul.accordion-menu li section.content p:first-letter {
    font-weight:bolder;
    font-size:1.666em;
}


ul.accordion-menu li.closed section.content {

    max-height:0;

    padding:0 20px;


}

ul.accordion-menu li.open header {

    background-color:#1f9127;

    border:1px solid #1f9127;

    opacity: 0.8;

}

ul.accordion-menu li.open header span.title {

    color:#FFF;

}








.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#img-upload{
    width: 100%;
}

.form-page{
    margin: 0 auto;
}

.menu-thumb {
    margin-top: 100%;
}
.thumbnail {
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
    text-align:center;
    padding-top:calc(50% - 30px);
    color: white;
    font-size: large;
}

.pagination{
    margin: 0 auto;
}

.pagination ul {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.pagination li {
    display: inline;
}

.pagination li a {
    color: green;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination li.active a {
    background-color: green;
    color: white;
}

.pagination li:hover:not(.active) a {
    background-color: lightgreen;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 0 1px;
    border-radius: 4px;
}

td {
    text-align: center;
    padding: 8px;
    font-size: 20px;
    border: 3px solid;
}
th {

    text-align: center;
    padding: 8px;
    font-size: 20px;
    background-color: #5cb85c;
    border: 3px solid;
}

thead {
    background-color: grey;
}

tr:nth-child(odd) {
    background-color: #e6e9ed;
}

tr:nth-child(even) {
    background-color: #fafafa;
}
tr:hover{background-color: #a1a1a1}